<md-content layout="column" style="background-color:transparent;padding-bottom:30px;margin:2vh;overflow:initial !important;">
	<md-card>
	    <md-card-title>
	      <md-card-title-text>
	        <span class="md-headline">Seleccione {{sSC.selectedNode.depth}}</span>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content>
			<ul layout="column" layout-align=" start" style="list-style-type:none;padding:0;">
				<li ng-show="sSC.nodePath[0]">
					<b style="color:#bbbbbb;">DIVISIÓN</b> {{sSC.nodePath[0].nodeName}}
					<a href="" class="node-path-sub-text" ng-click="sSC.setSector(sSC.nodePath[0])" style="font-size: large;color: #428bca;">(Seleccionar...)</a>
				</li>
				<li ng-show="sSC.nodePath[1]">
					<b style="color:#bbbbbb;">SECTOR</b> {{sSC.nodePath[1].nodeName}}
					<a href="" class="node-path-sub-text" ng-click="sSC.setSector(sSC.nodePath[1])" style="font-size: large;color: #428bca;">(Seleccionar...)</a>
				</li>
				<li ng-show="sSC.nodePath[2]">
					<b style="color:#bbbbbb;">RAMA</b> {{sSC.nodePath[2].nodeName}}
					<a href="" class="node-path-sub-text" ng-click="sSC.setSector(sSC.nodePath[2])" style="font-size: large;color: #428bca;">(Seleccionar...)</a>
				</li>
				<li>
					<b style="color:#bbbbbb;">{{sSC.selectedNode.depth | uppercase}}</b> {{sSC.hoveredName}}
			    </li>
			</ul> 
	    </md-card-content>

	</md-card>	
    <div
	layout="row"
	layout-wrap
	flex-offset="{{sSC.wrapperOffsetSize}}" 
	flex="{{sSC.wrapperSize}}">
	    <md-button
				flex="{{sSC.buttonSize}}"
				layout-padding
	    		class="md-primary md-raised boton-sector"
    			ng-click="sSC.selectSector(sector)"
    			ng-mouseover="sSC.mouseOverSector(sector)"
    			ng-repeat="sector in sSC.sectorTree | filter:{ parentID: sSC.currentSector.nodeID }:true">
	    		<div layout="row">
	    			<span class="ellipsis">{{sector.child_id}} - {{sector.nodeName}}</span>
	    			<md-icon md-svg-icon="arrow-right"></md-icon>
    			</div>
		</md-button>
	</div>
</md-content>