<header>
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid header-wrapper">
			<div class="row">
				<div class="hidden-xs hidden-sm col-md-3">
					<a href="" ng-click="goTo('')"><img src="assets/img/logo-min-prod.png" height="50px"></a>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="header-title">
						<span>{{header.title | uppercase}}</span>
					</div>
				</div>
				<div class="hidden-xs hidden-sm col-md-3">
					<div class="header-right">
						<a href="" ng-click="goTo('porRegion')">Por Region</a>
						<span> | </span>
						<a href="" ng-click="goTo('porSector')">Por Sector</a>
					</div>
				</div>							    
			</div>
		</div>
	</nav>
</header>