<md-toolbar layout="row" layout-align="space-between center" layout-align-sm="center center" layout-align-xs="center center" class="header-wrapper">
	<div hide-xs hide-sm><a href="" ng-click="APP.goTo('')"><img src="assets/img/logo-min-prod.png" height="50px"></a></div>
	<span class="header-title">{{APP.header.title | uppercase}}</span>
	<div layout-align="end center" hide-xs hide-sm>
		<md-button ng-click="APP.goTo('selector')">Por Region</md-button>
		<span> | </span>
		<md-button ng-click="APP.goTo('porSector')">Por Sector</md-button>
		<span> | </span>
		<md-button ng-click="APP.goTo('comparacion')">Comparacion</md-button>
		<span> | </span>
		<md-button ng-click="APP.goTo('adminLogin')">Admin</md-button>			
	</div>
</md-toolbar>