<md-toolbar layout="row" layout-align="space-between center" layout-align-sm="center center" layout-align-xs="center center" class="header-wrapper">
	<div hide-xs hide-sm><a href="" ng-click="goTo('')"><img src="assets/img/logo-min-prod.png" height="50px"></a></div>
	<span class="header-title">{{header.title | uppercase}}</span>
	<div layout-align="end center" hide-xs hide-sm>
		<md-button ng-click="goTo('porRegion')">Por Region</md-button>
		<span> | </span>
		<md-button ng-click="goTo('porSector')">Por Sector</md-button>
	</div>
</md-toolbar>