/************ font config ***************/
    @font-face {
        font-family: "Gotham";
        src: url(../fonts/Gotham/Gotham-Medium.otf) format('truetype');
    }
    @font-face {
        font-family: "Gotham-bold";
        src: url(../fonts/Gotham/Gotham-Bold.otf) format('truetype');
    }
    @font-face {
        font-family: "Roboto";
        src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: "Roboto-thin";
        src: url(../fonts/Roboto/Roboto-Thin.ttf) format('truetype');
    }
    @font-face {
        font-family: "Roboto-bold";
        src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    }
    @font-face {
        font-family: "Roboto-Light";
        src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
    }

    body,h1,h2,h3,h4,h5,h6,p,b,span {
        font-family: "Gotham","Helvetica Neue","Helvetica","Arial",sans-serif;
        color: #626262;
    }

/*********************** GENERAL ********************************/

    .bg-fixed {
        position:fixed;
        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
        height: 100%;
    }
    .bg-gray {
        background:#f1f2f2;
    }
    .bg-margined {
        height: 90%;
    }
    .bg-logo-gps {
        background-image: url(../img/bg-logo-gps.png);
        background-repeat: no-repeat;
        background-attachment: initial;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

/******************* header ************************/

    .header-wrapper {
        padding: 10px 15px;
    }
        
    .header-title {
        font-size: medium;
        letter-spacing: 2px;
    }

/***************** landing ***************************/

    .button-landing {
        background-color: rgba(70, 99, 136, 0.71);
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 20px 20px 0 0;
        transition: all 0.3s ease 0s;
        color: white;
        font-size: large;
        line-height: 2.3;
        border-color: #ccc;
    }
    .button-landing:hover {
        background: #0973B9;
        color: white;
    }
    .glyphicon-button-custom {
        color: white;
        vertical-align: -1px;
    }

    .button-description {
        font-family: "Roboto-Light";
        margin: 50px 0px;
        text-align: center;
        font-size: large;
    }

    .logo-gps-wrapper {
        margin-top:80px;
        text-align: center;
    }

    .logo-gps-slogan {
        margin-top: 30px;
        margin-bottom: 90px;
        text-align: center;
        font-size: large;
        color:#333;
    }

    .form-button {
        background-color: #F1F2F2;
        color: #333333;
        border: 1px solid #ccc;
    }

    .form-control-custom {
        background-color: #F2F2F2;
    }

    .footer-custom {
        padding: 30px;
        padding-bottom: 40px;
        background-color:#ECECEC;
    }

/******************* landing:mobile *******************/

    .bg-logo-gps-mobile {
        height: 500px;
    }

    .button-landing-mobile-up {
        font-size: 50px;
        border-radius: 30px 30px 0 0;
    }

    .button-landing-mobile-down {
        font-size: 50px;
        border-radius: 0 0 30px 30px;
    }

    .logo-gps-slogan-mobile {
        font-size: 35px;
    }

    .footer-mobile {
        font-size:x-large;
        position:absolute;
        bottom:0;width:100%;margin-bottom:10px;
    }

/***************** select *********************/

    .botonera-wrapper {
        background-color: transparent;
        margin-top: 29vh;
    }
    .botonera {
        font-size: large;
        letter-spacing: 2px;
        padding-top: 18px;
        padding-bottom: 18px;
        max-height:72px;
    }
    .md-primary.md-raised.botonera:hover {
        box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.2);
    }

/******************* by-sector *******************/

    .ellipsis{
        width: 92%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    } 

    .boton-sector{
       /* padding: 0;*/
        /*margin-top: 15px;*/
        text-align: left;
        font-family: "Roboto-thin";
    }

    .md-primary.md-raised.boton-sector:hover {
        box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.2);
    }

/******************** by-region ************************/

    .search-wrapper {
        padding-top: 8%;
    }
    @media(max-width:992px){
        .search-wrapper {
            padding-top: 15%;
        }
    }

    .search-bar {
        padding-top: 4%
    }
    @media(max-width:992px){
        .search-bar {
            padding-top: 20%;
        }
    }

    .autocomplete-custom-template li {
      border-bottom: 1px solid #ccc;
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
      white-space: normal;
    }
    .autocomplete-custom-template li:last-child {
      border-bottom-width: 0;
    }
    .autocomplete-custom-template .item-glyph {
      float: left;
      padding-right: 10px;
      font-size: xx-large;
      color: lightgray;
    }  
    .autocomplete-custom-template .item-title {
      display: block;
      line-height: 2; 
    }
    .autocomplete-custom-template .item-metadata {
      display: block;
      line-height: 1;
      font-size: smaller;
      font-family:'Roboto-light';
    }    