<md-content class="content-wrapper">
		<div
		layout="{{sDC.topDivLayout}}" //normal row, small column
		layout-align="center">
			<!-- Mapa GMaps -->
			<div
			flex="{{sDC.generalSize}}" //normal 50, small 100
			class="map-wrapper md-whiteframe-6dp">
				<div class="heat-map-scale" ng-show="sDC.isHeatMapScaleVisible(sDC.dashboardType)"></div>
				<div
				id="{{ sDC.identifier + 'map' }}"
				style="height:100%;"></div>
			</div><!-- /Mapa GMaps -->
			<dash-general-data 
			flex="{{sDC.generalSize}}" //normal 50, small 100
			class="data-wrapper md-whiteframe-6dp"
			type="sDC.dashboardType"
			data="sDC.generalData"
			name="sDC.currentNode.nodeName"></dash-general-data>
		</div>
		<!-- eCharts -->
		<div layout="row">
			<div layout="row" flex="100" class="charts-wrapper md-whiteframe-6dp" layout-wrap>
				<div
				layout="column"
				flex="100"
				flex-gt-sm="55">
					<span>Seleccione categoría</span>
					<br><br>
					<div layout="row" layout-wrap>
						<md-button
						layout="column"
						layout-align="center center"
						flex="40"
						ng-click="sDC.setActiveCategory('empleo')"
						ng-class="{categoryActiveClass : sDC.activeCategory === 'empleo'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
							Empleo
						 </md-button>
						<md-button
						layout="column"
						layout-align="center center"
						flex="40"
						ng-click="sDC.setActiveCategory('export')"
						ng-class="{categoryActiveClass : sDC.activeCategory === 'export'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="exportacion"></md-icon>
							Exportación
						 </md-button>				 
					</div>	
					<br><br>			
				</div>
				<div hide
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.complex.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'complex' }}"></div>
				</div>
				<div
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.treemap.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'treemap' }}"></div>
				</div>
				<div
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.scatter.title}}</span>
					<div hide class="chart-tag-wrapper">
						<div class="chart-tag tag-1">Alta dinámica</div>
				        <div class="chart-tag tag-2">Alta especialización</div>
				        <div class="chart-tag tag-3">Baja dinámica</div>
				        <div class="chart-tag tag-4">Baja especialización</div>
				        <p id="ejeX">Coef. de especialización Empleo</p>
				        <p id="ejeY">Grado de dinámica Empleo</p> 		        
			        </div>
					<div class="chart-fix" id="{{ sDC.identifier + 'scatter' }}"></div>
				</div>									
			</div>
		</div><!-- /eCharts -->			
	</md-content>