<md-content class="content-wrapper">
	<md-progress-linear md-mode="indeterminate" class="md-accent" ng-hide="sDC.doneB" style="height:0px;"></md-progress-linear>
		<div
		layout="{{sDC.topDivLayout}}" //normal row, small column
		layout-align="center">
			<!-- Mapa GMaps -->
			<div 
			flex="{{sDC.generalSize}}" //normal 50, small 100 
			class="map-wrapper md-whiteframe-6dp">

				<span class="map-tooltip" ng-class="sDC.MapTooltipClass">{{sDC.hoveredName}}</span><!-- /MAP TOOLTIP -->
				<!-- SELECTOR DE CAPAS -->
				<md-progress-circular md-mode="indeterminate" ng-hide="sDC.isLayerDone" style="position:absolute;top:29px;z-index:1000;left:31px;"></md-progress-circular>
			    <div class="dropDownStyle">
			    	<!-- <md-input-container>
				    	<md-select placeholder="Elija la opción" ng-model="user" md-on-open="loadUsers()">
					      	<md-option ng-value="user" ng-repeat="user in users" ng-click="selectReg(user)">{{user.name}}</md-option>
					    </md-select>
					</md-input-container>  -->

					<md-input-container md-container-class>
					  <md-select placeholder="Elija la opción" ng-model="user" md-on-open="loadUsers()" style="background: white;">
					    <md-option ng-value="user" ng-repeat="user in users" ng-click="selectReg(user)">{{user.name}}</md-option>
					  </md-select>
					</md-input-container>   
			    </div>
				<md-fab-speed-dial md-open="sDC.isOpen" md-direction="down" ng-class="'md-scale'" style="position:absolute;z-index:100;" ng-show="sDC.dashboardType == 'region'">
					<md-fab-trigger>
					  <md-button class="md-fab md-accent">
					    <md-tooltip md-direction="right" md-visible="tooltipVisible" class="fab-tooltip">CAPAS</md-tooltip>
					    <md-icon md-svg-src="assets/svg/layers-icon.svg"></md-icon>
					  </md-button>
					</md-fab-trigger>
					<md-fab-actions>
					  <md-button ng-repeat="layer in sDC.mapLayers" class="md-fab md-raised md-mini" ng-class="sDC.isLayerActive($index)" ng-click="sDC.toggleLayer($index)">
					    <md-icon md-svg-src="assets/svg/{{layer.svgName}}.svg"></md-icon>
					    <md-tooltip md-direction="right" class="fab-tooltip">{{layer.name}}</md-tooltip>
					  </md-button>           
					</md-fab-actions>
				</md-fab-speed-dial><!-- /SELECTOR DE CAPAS -->	
				<!-- BOTON PARA NAVEGAR HACIA EL PARENT -->			
				<md-button class="map-button md-raised" ng-click="sDC.returnToParent()" ng-show="sDC.parentName != null">Volver a {{sDC.parentName}}</md-button><!-- /BOTON PARA NAVEGAR HACIA EL PARENT -->	
				<!-- IMAGEN DE ESCALA PARA EL HEATMAP UNICAMENTE -->	
				<div class="heat-map-scale" ng-show="sDC.isHeatMapScaleVisible(sDC.dashboardType)"></div><!-- /IMAGEN DE ESCALA PARA EL HEATMAP UNICAMENTE -->	
				<!-- MAPA OBJETO -->	
				<div
				id="{{ sDC.identifier + 'map' }}"
				style="height:100%;"></div><!-- /MAPA OBJETO -->	
			</div><!-- /Mapa GMaps -->
			<dash-general-data 
			flex="{{sDC.generalSize}}" //normal 50, small 100
			class="data-wrapper md-whiteframe-6dp"
			type="sDC.dashboardType"
			data="sDC.generalData"
			name="sDC.currentNode.nodeName"></dash-general-data>
		</div>
		<!-- eCharts -->
		<div layout="row" id="chartsNotPrint">
			<div layout="row" flex="100" class="charts-wrapper md-whiteframe-6dp" layout-wrap>
				<div
				layout="column"
				flex="100"
				flex-gt-sm="55">
					<span id="selectCat">Seleccione categoría</span>
					<br><br>
					<div id="selectNotPrint" layout="row" layout-wrap>
						<md-button
						layout="row"
						layout-align="center center"
						flex="30"
						ng-click="sDC.setActiveCategory('empleo')"
						ng-class="{categoryActiveClass : sDC.activeCategory === 'empleo'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
							Empleo
						 </md-button>
						<md-button
						layout="row"
						layout-align="center center"
						flex="30"
						ng-click="sDC.setActiveCategory('export')"
						ng-class="{categoryActiveClass : sDC.activeCategory === 'export'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="exportacion"></md-icon>
							Exportación
						 </md-button>
						 <!-- BOTON PARA EXPORTAR CSV -->	
						<md-button ng-click="sDC.exportCSV()" ng-show="sDC.isFixButtonVisible()" class="box_exp" >
							<md-icon md-svg-src="assets/svg/excel.svg" style="width: 40px;height: 40px;"></md-icon>
						</md-button>
						 <!-- BOTON PARA IMPRIMIR EN PDF -->	
						<md-button ng-click="sDC.printScreen()" ng-show="sDC.isFixButtonVisible()" class="box_print">
							<md-icon md-svg-src="assets/svg/pdf.svg" style="width: 40px;height: 40px;"></md-icon>
						</md-button>	
						<!-- BOTON PARA ABRIR MODAL Y COMPARTIR LINK -->	
						<md-button ng-click="sDC.shareScreen()" ng-show="sDC.isFixButtonVisible()" class="box_share">
							<md-icon md-svg-src="assets/svg/share.svg" style="width: 40px;height: 40px;"></md-icon>
						</md-button>
						<!-- BOTON PARA IMPRIMIR LAS FICHAS -->	
						<md-button ng-click="sDC.printStatesFile()" ng-show="sDC.isFixButtonFileVisible()" class="box_filePdf">
							<md-icon md-svg-src="assets/svg/FICHA.svg" style="width: 40px;height: 40px;"></md-icon>
						</md-button>			 
					</div>	
					<br><br>			
				</div>
				<!-- eCharts -->
				<div hide
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.complex.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'complex' }}"></div>
				</div>				
				<div id="treemapNotPrint"
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.treemap.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'treemap' }}"></div>
				</div>
				<div id="scatterNotPrint"
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.scatter.title}}</span>
					<div class="chart-tag-wrapper">
						<div class="chart-tag tag-1">Alta dinámica</div>
				        <div class="chart-tag tag-2">Alta especialización</div>
				        <div class="chart-tag tag-3">Baja dinámica</div>
				        <div class="chart-tag tag-4">Baja especialización</div>
				        <p id="ejeX">{{sDC.scatter.xAxis}}</p>
				        <p id="ejeY">{{sDC.scatter.yAxis}}</p> 		        
			        </div>
					<div class="chart-fix" id="{{ sDC.identifier + 'scatter' }}"></div>
				</div>									
			</div>
		</div><!-- /eCharts -->		
		<!-- eCharts para imprimir -->
		<div layout="row" id="chartsPrint">
			<div layout="row" flex="100" class="charts-wrapper md-whiteframe-6dp" layout-wrap>
				<div
				layout="column"
				flex="100"
				flex-gt-sm="55">					
					<div id="selectNotPrint" layout="row" layout-wrap>
						<md-button
						layout="row"
						layout-align="center center"
						flex="30"						
						ng-class="{categoryActiveClass : true}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
							Empleo
						 </md-button>									
					</div>	
					<br><br>					
				</div>
											
				<div id="treemapNotPrint"
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.treemap.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'treemapEmpleoPrint' }}"></div>
				</div>
				<div id="scatterNotPrint"
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.scatter.title}}</span>
					<div class="chart-tag-wrapper">
						<div class="chart-tag tag-1">Alta dinámica</div>
				        <div class="chart-tag tag-2">Alta especialización</div>
				        <div class="chart-tag tag-3">Baja dinámica</div>
				        <div class="chart-tag tag-4">Baja especialización</div>
				        <p id="ejeX">{{sDC.scatter.xAxis}}</p>
				        <p id="ejeY">{{sDC.scatter.yAxis}}</p> 		        
			        </div>
					<div class="chart-fix" id="{{ sDC.identifier + 'scatterEmpleoPrint' }}"></div>
				</div>									
			</div>
		</div>
		<div layout="row" id="chartsPrint2">
			<div layout="row" flex="100" class="charts-wrapper md-whiteframe-6dp" layout-wrap>
				<div
				layout="column"
				flex="100"
				flex-gt-sm="55">					
					<div id="selectNotPrint" layout="row" layout-wrap>
						<md-button
						layout="row"
						layout-align="center center"
						flex="30"						
						ng-class="{categoryActiveClass : true}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="export"></md-icon>
							Export
						 </md-button>									
					</div>	
					<br><br>			
				</div>
											
				<div id="treemapNotPrint"
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.treemap.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'treemapExportPrint' }}"></div>
				</div>
				<div id="scatterNotPrint"
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.scatter.title}}</span>
					<div class="chart-tag-wrapper">
						<div class="chart-tag tag-1">Alta dinámica</div>
				        <div class="chart-tag tag-2">Alta especialización</div>
				        <div class="chart-tag tag-3">Baja dinámica</div>
				        <div class="chart-tag tag-4">Baja especialización</div>
				        <p id="ejeX">{{sDC.scatter.xAxis}}</p>
				        <p id="ejeY">{{sDC.scatter.yAxis}}</p> 		        
			        </div>
					<div class="chart-fix" id="{{ sDC.identifier + 'scatterExportPrint' }}"></div>
				</div>									
			</div>
		</div>
	<!--/eCharts para imprimir -->		
		<div layout="row" class="charts-wrapper md-whiteframe-6dp">
			<table layout="column" flex="100" > 
		        <thead flex="100" class="thead">
		            <tr flex="100" layout="row">
		                <th flex="50" layout="column">
		                    Nombre
		                    <!-- <input ng-model="prov" type="text"> -->
		                </th>
		                <th flex="10" layout="column">
		                    Participación (%)
		                  <!--   <input ng-model="ciiu" type="text"> -->
		                </th>
		                <th flex="10" layout="column">
		                    Especialización
		                    <!-- <input ng-model="clase" type="text"> -->
		                </th> 
		                <th flex="10">Grado Dinámica (%)</th>               
		                <th flex="10">Empleo 2015</th>
		                <th flex="10">Empleo 2007</th>
		            </tr>
		        </thead>
		        <tbody flex="100">
		            <tr 
		                flex="100" layout="row" 
		                ng-repeat="entry in sDC.table | filter : {parent_name: prov} | filter : {region_nombre: dep} | filter : {sector_ciiu: ciiu} | filter :  {sector_nombre: clase}"
		                class="table-row"
		                ng-click="sDC.edit(entry)">
		                <th flex="50">{{entry.name}}</th>
		                <td flex="10">{{entry.value.part}}</td>
		                <td flex="10">{{entry.value.coef_esp}}</td>
		                <td flex="10" style="{{entry.value.varColor}}">{{entry.value.var}}</td>
		                <td flex="10">{{entry.value.cant_07}}</td>
		                <td flex="10">{{entry.value.cant_15}}</td>
		            </tr>
		        </tbody>
		    </table>
		</div><!-- /eCharts -->	

<!-- 		 <md-select placeholder="Elija la región" ng-model="user" md-on-open="loadUsers()" class="dropDownStyle">
			      	<md-option ng-value="user" ng-repeat="user in users" ng-click="selectReg(user)" style="z-index: 4000;">{{user.name}}</md-option>
			    </md-select> -->

</md-content>


<!-- Estilo para los Botones de ExportCSV y PrintPDF -->
<style>
	.md-select-menu-container{

	}

	.md-select-menu-container.md-active md-select-menu>* {
	    margin-top: 39px;
	}

	.dropDownStyle{
		margin-top: 0px;
	    position: fixed;
	    top: 9%;
	    right: 52%;
	    z-index: 1500;
	}

	.box_exp{
		position:fixed;
		top:74px;
		right:-22px;
	}

	.box_print{
		position:fixed;
		top:116px;
		right:-22px;
	}

	.box_share{
		position:fixed;
		top:158px;
		right:-22px;
	}

	.box_filePdf{
		position:fixed;
		top:200px;
		right:-22px;
	}

	table {
    font-family:'Roboto-light';
    font-size: small;
    padding: 15px;
	}
	
	.thead {
		border-bottom: solid 1px lightgray;
		font-size: medium;
	}

	.table-row {
		padding-top: 5px;
	}

	.flex-10 {
		text-align: center;
	}

</style>