<md-content class="content-wrapper">
<md-progress-linear md-mode="indeterminate" class="md-accent" ng-hide="sDC.doneB" style="height:0px;"></md-progress-linear>
		<div
		layout="{{sDC.topDivLayout}}" //normal row, small column
		layout-align="center">
			<!-- Mapa GMaps -->
			<div
			flex="{{sDC.generalSize}}" //normal 50, small 100
			class="map-wrapper md-whiteframe-6dp">

				<span class="map-tooltip" ng-class="sDC.MapTooltipClass">{{sDC.hoveredName}}</span><!-- /MAP TOOLTIP -->
				<!-- SELECTOR DE CAPAS -->
				<md-progress-circular md-mode="indeterminate" ng-hide="sDC.isLayerDone" style="position:absolute;top:29px;z-index:1000;left:31px;"></md-progress-circular>
				<md-fab-speed-dial md-open="sDC.isOpen" md-direction="down" ng-class="'md-scale'" style="position:absolute;z-index:100;" ng-show="sDC.dashboardType == 'region'">
					<md-fab-trigger>
					  <md-button class="md-fab md-accent">
					    <md-tooltip md-direction="right" md-visible="tooltipVisible" class="fab-tooltip">CAPAS</md-tooltip>
					    <md-icon md-svg-src="assets/svg/layers-icon.svg"></md-icon>
					  </md-button>
					</md-fab-trigger>
					<md-fab-actions>
					  <md-button ng-repeat="layer in sDC.mapLayers" class="md-fab md-raised md-mini" ng-class="sDC.isLayerActive($index)" ng-click="sDC.toggleLayer($index)">
					    <md-icon md-svg-src="assets/svg/{{layer.svgName}}.svg"></md-icon>
					    <md-tooltip md-direction="right" class="fab-tooltip">{{layer.name}}</md-tooltip>
					  </md-button>           
					</md-fab-actions>
				</md-fab-speed-dial><!-- /SELECTOR DE CAPAS -->	
				<!-- BOTON PARA NAVEGAR HACIA EL PARENT -->			
				<md-button class="map-button md-raised" ng-click="sDC.returnToParent()" ng-show="sDC.parentName != null">Volver a {{sDC.parentName}}</md-button><!-- /BOTON PARA NAVEGAR HACIA EL PARENT -->	
				<!-- IMAGEN DE ESCALA PARA EL HEATMAP UNICAMENTE -->	
				<div class="heat-map-scale" ng-show="sDC.isHeatMapScaleVisible(sDC.dashboardType)"></div><!-- /IMAGEN DE ESCALA PARA EL HEATMAP UNICAMENTE -->	
				<!-- MAPA OBJETO -->	
				<div
				id="{{ sDC.identifier + 'map' }}"
				style="height:100%;"></div><!-- /MAPA OBJETO -->	
			</div><!-- /Mapa GMaps -->
			<dash-general-data 
			flex="{{sDC.generalSize}}" //normal 50, small 100
			class="data-wrapper md-whiteframe-6dp"
			type="sDC.dashboardType"
			data="sDC.generalData"
			name="sDC.currentNode.nodeName"></dash-general-data>
		</div>
		<!-- eCharts -->
		<div layout="row">
			<div layout="row" flex="100" class="charts-wrapper md-whiteframe-6dp" layout-wrap>
				<div
				layout="column"
				flex="100"
				flex-gt-sm="55">
					<span>Seleccione categoría</span>
					<br><br>
					<div layout="row" layout-wrap>
						<md-button
						layout="column"
						layout-align="center center"
						flex="40"
						ng-click="sDC.setActiveCategory('empleo')"
						ng-class="{categoryActiveClass : sDC.activeCategory === 'empleo'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
							Empleo
						 </md-button>
						<md-button
						layout="column"
						layout-align="center center"
						flex="40"
						ng-click="sDC.setActiveCategory('export')"
						ng-class="{categoryActiveClass : sDC.activeCategory === 'export'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="exportacion"></md-icon>
							Exportación
						 </md-button>				 
					</div>	
					<br><br>			
				</div>
				<div hide
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.complex.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'complex' }}"></div>
				</div>
				<div
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.treemap.title}}</span>
					<div class="chart-fix" id="{{ sDC.identifier + 'treemap' }}"></div>
				</div>
				<div
				flex="{{sDC.generalSize}}"
				class="chart-1-wrapper">
					<span>{{sDC.scatter.title}}</span>
					<div class="chart-tag-wrapper">
						<div class="chart-tag tag-1">Alta dinámica</div>
				        <div class="chart-tag tag-2">Alta especialización</div>
				        <div class="chart-tag tag-3">Baja dinámica</div>
				        <div class="chart-tag tag-4">Baja especialización</div>
				        <p id="ejeX">{{sDC.scatter.xAxis}}</p>
				        <p id="ejeY">{{sDC.scatter.yAxis}}</p> 		        
			        </div>
					<div class="chart-fix" id="{{ sDC.identifier + 'scatter' }}"></div>
				</div>									
			</div>
		</div><!-- /eCharts -->			
	</md-content>