<div class="bg-fixed bg-gray"></div><!-- BACKGROUND COLOR -->
<!-- <sector-selector identifier="dash" done="bSC.sectorSelected"></sector-selector> -->
<!-- SPINNER -->
<div class="loader-bg animate-show" ng-hide="bSC.doneSC">
    <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="96"></md-progress-circular>
</div>
<!-- /SPINNER --> 

<md-content ng-hide="!bSC.doneSC" layout="column" style="background-color:transparent;padding-bottom:30px;margin:2vh;overflow:initial !important;">
	<md-card>
	 	<md-card-title> 
	      	<md-card-title-text>
	        	<span class="md-headline">Seleccione</span>
	      	</md-card-title-text>
	      	<md-input-container>
	      		<md-icon md-svg-src="assets/svg/ic_search_black_24px.svg"></md-icon>
                <label style="    height: 16px;">Buscar</label>
                <input id="myInput" ng-model="searchText" ng-change="changeText()" style="border-radius: 12px;background: powderblue;">
            </md-input-container>
	    </md-card-title>
       <!--  <div style="margin-left: 75%;">
            <md-input-container>
                <label>Buscar</label>
                <input id="myInput" ng-model="searchText" ng-change="changeText()">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="removeSearch()" style="margin-top: -27px;">Borrar</md-button>
        </div> -->
        <md-card-content style="margin-top: -35px;">
			<abn-tree 
			    tree-data         = "my_data"
			    tree-control      = "my_tree"
			    on-select         = "my_tree_handler(branch)"
			    expand-level      = "0"
			    done   			  = "bSC.sectorSelected"
			    style="overflow: hidden;text-overflow: ellipsis;font-weight: bold;font-family: 'Roboto-light';font-size: larger;">      
			></abn-tree>
		</md-card-content>	
	</md-card>	
</md-content>

