<div layout="column">
	<div class="bg-fixed bg-gray"></div><!-- Background COLOR -->	
	<div hide layout="row" layout-align="center stretch">
		<md-button class="md-raised md-primary">por Región</md-button>
		<md-button class="md-raised md-primary">por Sector</md-button>
	</div>	
	<div layout="row">
		<!--DASHBOARD 1-->
		<div id="wrapper" flex="50">
			<md-content class="content-wrapper">
				<div
				layout="column"
				layout-align="center">
				    <md-radio-group ng-model="dash1.type" layout="row" layout-align="center center">
				      <md-radio-button value="region"> Región </md-radio-button>
				      <md-radio-button value="sector"> Sector </md-radio-button>
				    </md-radio-group>	
				    <br>			
					<div layout-margin layout-fill ng-controller="searchCtrl as SC">
						<md-autocomplete
						ng-disabled="SC.isDisabled"
						md-no-cache="SC.noCache"
						md-selected-item="SC.selectedItem"
						md-search-text-change="SC.searchTextChange(SC.searchText)"
						md-search-text="SC.searchText"
						md-selected-item-change="SC.selectedItemChange(item)"
						md-items="item in SC.querySearch(SC.searchText)"
						md-item-text="item.name"
						md-min-length="0"
						placeholder="Ingrese región o provincia"
						md-menu-class="autocomplete-custom-template">
							<md-item-template>
								<span class="item-glyph">{{item.depthName}}</span>
								<span class="item-title">{{item.nodeName}}</span>
								<span class="item-metadata">{{item.path}}</span>
							</md-item-template>
						</md-autocomplete>		
					</div>	
					<!-- Mapa GMaps -->
					<div
					class="map-wrapper md-whiteframe-6dp">
						<div
						id="mapA"
						style="height:100%;"></div>
					</div><!-- /Mapa GMaps -->
					<dash-general-data 
					class="data-wrapper md-whiteframe-6dp"
					type="DC.dashboardType"
					data="DC.generalData"
					name="DC.currentNode.nodeName"></dash-general-data>
					<!-- eCharts -->
					<div layout="column" flex="100" class="charts-wrapper md-whiteframe-6dp">
						<div
						layout="column"
						flex="100"
						flex-gt-sm="55">
							<span>Seleccione categoría</span>
							<br><br>
							<div layout="row" layout-wrap flex-gt-sm="100">
								<md-button
								layout="column"
								layout-align="center center"
								flex="40"
								ng-click="DC.setCurrentCategory('empleo')"
								ng-class="{categoryActiveClass : DC.activeCategory === 'empleo'}"
								class="button-category">
									<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
									Empleo
								 </md-button>
								<md-button
								layout="column"
								layout-align="center center"
								flex="40"
								ng-click="DC.setCurrentCategory('export')"
								ng-class="{categoryActiveClass : DC.activeCategory === 'export'}"
								class="button-category">
									<md-icon class="icon-category" md-svg-icon="exportacion"></md-icon>
									Exportación
								 </md-button>				 
							</div>	
							<br><br>			
						</div>
						<div hide
						flex="100"
						flex-gt-sm="50" 
						class="chart-1-wrapper">
							<span>{{DC.complex.title}}</span>
							<div class="chart-fix" id="complexA"></div>
						</div>
						<div
						flex="100"
						flex-gt-sm="50" 
						class="chart-1-wrapper">
							<span>{{DC.treemap.title}}</span>
							<div class="chart-fix" id="treemapA"></div>
						</div>
						<div
						flex="100"
						flex-gt-sm="50" 
						class="chart-1-wrapper">
							<span>{{DC.scatter.title}}</span>
							<div hide class="chart-tag-wrapper">
								<div class="chart-tag tag-1">Alta dinámica</div>
						        <div class="chart-tag tag-2">Alta especialización</div>
						        <div class="chart-tag tag-3">Baja dinámica</div>
						        <div class="chart-tag tag-4">Baja especialización</div>
						        <p id="ejeX">Coef. de especialización Empleo</p>
						        <p id="ejeY">Grado de dinámica Empleo</p> 		        
					        </div>
							<div class="chart-fix" id="scatterA"></div>
						</div>									
					</div>
				</div><!-- /eCharts -->			
			</md-content>
		</div><!--/DASHBOARD 1-->
		<!--DASHBOARD 1-->
		<div id="wrapper" flex="50">
			<md-content class="content-wrapper">
				<div
				layout="column"
				layout-align="center">
					<!-- region/sector SWITCH -->	
				    <md-radio-group ng-model="dash1.type" layout="row" layout-align="center center">
				      <md-radio-button value="region"> Región </md-radio-button>
				      <md-radio-button value="sector"> Sector </md-radio-button>
				    </md-radio-group><!-- /region/sector SWITCH -->		
				    <br>
				    <!-- SEARCH BAR -->			
					<div layout-margin layout-fill ng-controller="searchCtrl as SC">
						<md-autocomplete
						ng-disabled="SC.isDisabled"
						md-no-cache="SC.noCache"
						md-selected-item="SC.selectedItem"
						md-search-text-change="SC.searchTextChange(SC.searchText)"
						md-search-text="SC.searchText"
						md-selected-item-change="SC.selectedItemChange(item)"
						md-items="item in SC.querySearch(SC.searchText)"
						md-item-text="item.name"
						md-min-length="0"
						placeholder="Ingrese región o provincia"
						md-menu-class="autocomplete-custom-template">
							<md-item-template>
								<span class="item-glyph">{{item.depthName}}</span>
								<span class="item-title">{{item.nodeName}}</span>
								<span class="item-metadata">{{item.path}}</span>
							</md-item-template>
						</md-autocomplete>		
					</div><!-- /SEARCH BAR -->
				    <!-- SEARCH BAR -->			
					<sector-selector>
					</sector-selector><!-- /SEARCH BAR -->									
					<!-- Mapa GMaps -->
					<div
					class="map-wrapper md-whiteframe-6dp">
						<div
						id="mapB"
						style="height:100%;"></div>
					</div><!-- /Mapa GMaps -->
					<dash-general-data 
					class="data-wrapper md-whiteframe-6dp"
					type="DC.dashboardType"
					data="DC.generalData"
					name="DC.currentNode.nodeName"></dash-general-data>
					<!-- eCharts -->
					<div layout="column" flex="100" class="charts-wrapper md-whiteframe-6dp">
						<div
						layout="column"
						flex="100"
						flex-gt-sm="55">
							<span>Seleccione categoría</span>
							<br><br>
							<div layout="row" layout-wrap flex-gt-sm="100">
								<md-button
								layout="column"
								layout-align="center center"
								flex="40"
								ng-click="DC.setCurrentCategory('empleo')"
								ng-class="{categoryActiveClass : DC.activeCategory === 'empleo'}"
								class="button-category">
									<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
									Empleo
								 </md-button>
								<md-button
								layout="column"
								layout-align="center center"
								flex="40"
								ng-click="DC.setCurrentCategory('export')"
								ng-class="{categoryActiveClass : DC.activeCategory === 'export'}"
								class="button-category">
									<md-icon class="icon-category" md-svg-icon="exportacion"></md-icon>
									Exportación
								 </md-button>				 
							</div>	
							<br><br>			
						</div>
						<div hide
						flex="100"
						flex-gt-sm="50" 
						class="chart-1-wrapper">
							<span>{{DC.complex.title}}</span>
							<div class="chart-fix" id="complexB"></div>
						</div>
						<div
						flex="100"
						flex-gt-sm="50" 
						class="chart-1-wrapper">
							<span>{{DC.treemap.title}}</span>
							<div class="chart-fix" id="treemapB"></div>
						</div>
						<div
						flex="100"
						flex-gt-sm="50" 
						class="chart-1-wrapper">
							<span>{{DC.scatter.title}}</span>
							<div hide class="chart-tag-wrapper">
								<div class="chart-tag tag-1">Alta dinámica</div>
						        <div class="chart-tag tag-2">Alta especialización</div>
						        <div class="chart-tag tag-3">Baja dinámica</div>
						        <div class="chart-tag tag-4">Baja especialización</div>
						        <p id="ejeX">Coef. de especialización Empleo</p>
						        <p id="ejeY">Grado de dinámica Empleo</p> 		        
					        </div>
							<div class="chart-fix" id="scatterB"></div>
						</div>									
					</div>
				</div><!-- /eCharts -->			
			</md-content>
		</div><!--/DASHBOARD 1-->
	</div>	
</div>
<!-- Mensaje para rotar LA PANTALLA-->
<div id="warning-message" style="text-align:center;background-color:#d8d8d8;">
	<br><br><br><br><br><br><br>
    <img height="100" src="assets/img/rotate-screen.gif">
    <p>Rote la pantalla por favor</p>
    <br><br><br><br><br><br><br>
</div>

<style type="text/css">
    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }
</style>
