<div id="wrapper">
	<div class="bg-fixed bg-gray"></div><!-- Background COLOR -->
	<md-content class="content-wrapper">
		<div
		layout="column"
		layout-gt-sm="row"
		layout-align="center">
			<!-- Mapa GMaps -->
			<div
			flex-gt-sm="50"
			class="map-wrapper md-whiteframe-6dp">
				<div
				id="map"
				style="height:100%;"></div>
			</div><!-- /Mapa GMaps -->
			<dash-general-data 
			flex-gt-sm="50"
			class="data-wrapper md-whiteframe-6dp"
			type="DC.dashboardType"
			data="DC.generalData"
			name="DC.currentNode.nodeName"></dash-general-data>
		</div>
		<!-- eCharts -->
		<div layout="row">
			<div layout="row" flex="100" class="charts-wrapper md-whiteframe-6dp" layout-wrap>
				<div
				layout="column"
				flex="100"
				flex-gt-sm="55">
					<span>Seleccione categoría</span>
					<br><br>
					<div layout="row" layout-wrap>
						<md-button
						layout="column"
						layout-align="center center"
						flex="40"
						ng-click="DC.setCurrentCategory('empleo')"
						ng-class="{categoryActiveClass : DC.activeCategory === 'empleo'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="empleo"></md-icon>
							Empleo
						 </md-button>
						<md-button
						layout="column"
						layout-align="center center"
						flex="40"
						ng-click="DC.setCurrentCategory('export')"
						ng-class="{categoryActiveClass : DC.activeCategory === 'export'}"
						class="button-category">
							<md-icon class="icon-category" md-svg-icon="exportacion"></md-icon>
							Exportación
						 </md-button>				 
					</div>	
					<br><br>			
				</div>
				<div hide
				flex="100"
				flex-gt-sm="50" 
				class="chart-1-wrapper">
					<span>{{DC.complex.title}}</span>
					<div class="chart-fix" id="complex"></div>
				</div>
				<div
				flex="100"
				flex-gt-sm="50" 
				class="chart-1-wrapper">
					<span>{{DC.treemap.title}}</span>
					<div class="chart-fix" id="treemap"></div>
				</div>
				<div
				flex="100"
				flex-gt-sm="50" 
				class="chart-1-wrapper">
					<span>{{DC.scatter.title}}</span>
					<div hide class="chart-tag-wrapper">
						<div class="chart-tag tag-1">Alta dinámica</div>
				        <div class="chart-tag tag-2">Alta especialización</div>
				        <div class="chart-tag tag-3">Baja dinámica</div>
				        <div class="chart-tag tag-4">Baja especialización</div>
				        <p id="ejeX">Coef. de especialización Empleo</p>
				        <p id="ejeY">Grado de dinámica Empleo</p> 		        
			        </div>
					<div class="chart-fix" id="scatter"></div>
				</div>									
			</div>
		</div><!-- /eCharts -->			
	</md-content>
</div>
<!-- Mensaje para rotar LA PANTALLA-->
<div id="warning-message" style="text-align:center;background-color:#d8d8d8;">
	<br><br><br><br><br><br><br>
    <img height="100" src="assets/img/rotate-screen.gif">
    <p>Rote la pantalla por favor</p>
    <br><br><br><br><br><br><br>
</div>

<style type="text/css">
    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }
</style>
