<div hide-xs hide-sm>
	<md-toolbar layout="row" layout-align="space-between center" layout-align-sm="center center" layout-align-xs="center center" class="header-wrapper">
		<div><a href="" ng-click="APP.goTo('')"><img src="assets/img/logo-min-prod.png" height="50px"></a></div>
	</md-toolbar>
	<md-content style="background-color:transparent;"><!-- Landing Content 1-->
		<div
		layout="column"
		layout-align="center center"
		class="bg-logo-gps">
			<img style="margin-top:80px;" src="assets/img/logo-gps.png">
			<p class="logo-gps-slogan">
			Herramienta para la detección de oportunidades de transformación productiva a nivel sectorial y territorial</p>
			<div
			layout="row"
			layout-align="center center">
				<button
				ng-click="APP.goTo('selector')"
				ng-mouseover="LC.buttonDescription = 'El Mapa Productivo Federal es una plataforma que contiene información socioeconómica georreferenciada a nivel territorial y sectorial.'"
				class="button-landing">
					<md-icon md-svg-icon="map-pin"></md-icon> Mapa Productivo Federal
				</button>		
				<button 
				ng-click="APP.goTo('fichas')"
				ng-mouseover="LC.buttonDescription = 'En las Fichas Provinciales se realiza un análisis de la estructura productiva de cada provincia en busca de oportunidades de transformación productiva.'"
				class="button-landing">
					<md-icon md-svg-icon="file"></md-icon> Fichas Provinciales
				</button>
			</div>
		</div>
		<div
		layout-padding
		flex-offset="15"
		flex="70">
    		<p
		    flex-offset="10"
		    flex="80"
		    class="button-description">{{LC.buttonDescription}}</p>
    		<div
    		layout-padding
    		flex-offset="10"
    		flex="80"
    		style="border-top:1px solid #4D4D4D;"></div>
        	<p
    		layout-padding
        	style="font-size: medium;">
        		<b>Esta es la primera versión del GPS de las Economías Regionales. <br>Te invitamos a dejarnos sugerencias para que se adapte a tus necesidades y pueda ofrecerte su mejor servicio.</b>
    		</p>
		    <div
    		layout-padding
		    flex-offset="10"
		    flex="80"
		    md-theme="secondary">
				<form>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Nombre</label>
						<input ng-model="mail.nombre">
					</md-input-container>
					<md-input-container class="md-block">
						<label>E-mail</label>
						<input
						required
						type="email"
						name="clientEmail"
						ng-model="mail.email"
						minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
					</md-input-container>
					<md-input-container class="md-block">
						<label>Mensaje</label>
						<textarea ng-model="mail.mensaje" md-maxlength="400" rows="7" md-select-on-focus></textarea>
					</md-input-container>
					<md-button flex-offset="90" ng-click="LC.sendMail(mail)">ENVIAR</md-button>
				</form>
		    </div>  
		</div>
	</md-content>
	<md-toolbar layout="row" layout-align="space-around center" style="background-color:#ECECEC;"><!-- /Landing Content 2-->
		<a href="http://www.produccion.gob.ar/institucional/secretarias/secretaria-de-transformacion-productiva/">
			<img class="logo-img" src="assets/img/footer-logo-left.png" style="height:30px;">
		</a>
		<div></div>
		<a href="http://www.produccion.gob.ar/institucional/secretarias/secretaria-de-transformacion-productiva/" style="float:right;">
			<img class="logo-img" src="assets/img/footer-logo-right.png" style="height:40px;">
		</a>
	</md-toolbar>
</div>	

<div hide-md hide-lg>
	<md-toolbar layout="row" layout-align="space-between center" layout-align-sm="center center" layout-align-xs="center center" class="header-wrapper">
		<div><a href="" ng-click="APP.goTo('')"><img src="assets/img/logo-min-prod.png" height="40px"></a></div>
	</md-toolbar>
	<md-content style="background-color:transparent;"><!-- Landing Content 1-->
		<div
		layout="column"
		layout-align="center center"
		class="bg-logo-gps">
			<img style="margin-top:30px;" src="assets/img/logo-gps.png">
			<p
			style="width:90%;"
			class="logo-gps-slogan">
			Herramienta para la detección de oportunidades de transformación productiva a nivel sectorial y territorial</p>
		</div>
		<div
		flex-offset="0" 
		flex="100" 
		flex-offset-gt-xs="15" 
		flex-gt-xs="70"
		layout="column"
		layout-align="center stretch">
			<button
			ng-click="APP.goTo('selector')"
			class="button-landing button-landing-mobile-up">
				<md-icon md-svg-icon="map-pin"></md-icon> Mapa Productivo Federal
			</button>		
			<button 
			ng-click="APP.goTo('fichas')"
			class="button-landing button-landing-mobile-down">
				<md-icon md-svg-icon="file"></md-icon> Fichas Provinciales
			</button>
		</div>		
		<div
		layout-padding
		flex-offset="5"
		flex="90">
    		<div
    		layout-padding
    		flex-offset="10"
    		flex="80"
    		style="border-top:1px solid #4D4D4D;">
    		</div>
        	<p
    		layout-padding
        	style="font-size: medium;">
        		<b>Esta es la primera versión del GPS de las Economías Regionales. <br>Te invitamos a dejarnos sugerencias para que se adapte a tus necesidades y pueda ofrecerte su mejor servicio.</b>
    		</p>
		    <div
    		layout-padding
			flex-offset="0" 
			flex="100" 
			flex-offset-gt-xs="10" 
			flex-gt-xs="80"
		    md-theme="secondary">
				<form>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Nombre</label>
						<input ng-model="mail.nombre">
					</md-input-container>
					<md-input-container class="md-block">
						<label>E-mail</label>
						<input
						required
						type="email"
						name="clientEmail"
						ng-model="mail.email"
						minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
					</md-input-container>
					<md-input-container class="md-block">
						<label>Mensaje</label>
						<textarea ng-model="mail.mensaje" md-maxlength="400" rows="7" md-select-on-focus></textarea>
					</md-input-container>
					<md-button flex-offset="70" flex-offset-gt-xs="90" ng-click="LC.sendMail(mail)">ENVIAR</md-button>
				</form>
		    </div>  
		</div>
	</md-content>
	<md-toolbar layout="row" layout-align="space-around center" style="background-color:#ECECEC;"><!-- /Landing Content 2-->
		<a href="http://www.produccion.gob.ar/institucional/secretarias/secretaria-de-transformacion-productiva/">
			<img class="logo-img" src="assets/img/footer-logo-left.png" style="height:30px;">
		</a>
		<div></div>
		<a hide-xs href="http://www.produccion.gob.ar/institucional/secretarias/secretaria-de-transformacion-productiva/" style="float:right;">
			<img class="logo-img" src="assets/img/footer-logo-right.png" style="height:40px;">
		</a>
	</md-toolbar>
</div>