<div class="bg-fixed bg-gray"></div><!-- Background COLOR -->
<md-content class="botonera-wrapper">
	<div layout="row" layout-margin layout-fill>
		<md-button 
			flex-offset="0" 
			flex="100" 
			flex-offset-gt-sm="20" 
			flex-gt-sm="60" 
			class="md-primary md-raised botonera" 
			ng-click="APP.goTo('porRegion')">
			Información regional
		</md-button>
	</div>
	<div layout="row" layout-margin layout-fill>
		<md-button 
			flex-offset="0" 
			flex="100" 
			flex-offset-gt-sm="20" 
			flex-gt-sm="60" 
			class="md-primary md-raised botonera" 
			ng-click="APP.goTo('porSector')">
			Información sectorial
		</md-button>
	</div>	
</md-content><!-- /.botonera-wrap -->